{{!--
Це код container файлу для summary сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}

<div>

    <h1 class="text-center text uppercase">Hallo world</h1>
    <h2 class="text-end">Second</h2>
    <h3>3 title</h3>


    <hr>
    <div class="display-1">Hallo world</div>
    <div class="display-5"> Second</div>
    <div> title</div>

    <hr>
    <div class="text muted text-end">
        Text
    </div>

    <hr>
    <button class="btn btn-primary">Test button</button>

</div>

{{!--
Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
Адже наш layout/default.hbs має вже структуру HTML
--}}