<nav>
    {{>Link text="Skills" href="/skills" line=true}}
    {{>Link text="Summary" href="/summary" line=true}}
    {{>Link text="Education" href="/education" line=true}}
    {{>Link text="Work" href="/Work" line=true noLine=true}}
</nav>